   html {
     position : fixed;
    overflow:  hidden;
   }

    #row_Add{
    /*display:none; */
    }

   #BTCG{
   width: 45%;
    text-align: center;
    justify-content: center;
    background: url(assets/AppIcon_Square_1024x1024.png);
    border: 2px solid rgba(120, 200, 255, 0.8);
    background-size: cover;
    right: 0;
    position: absolute;
    bottom: -30%;
}
   #btcgImage{
   width: 100%;
   }

   #creditsJohn{
   margin-top: 10%;
   text-align: center;
   }
   #originalCredits{
      text-align: center;
   }
   #remakeCredits{
      text-align: center;
      }

   #backRow{
   justify-content: center;
   }
    #gameQuit{
        position: absolute;
        top: 50%;
        padding: 2rem;
        display: block;
        justify-content: center;
        visibility: hidden;
    }
    .quitBtn{
    width: 40%;
        display: inline;
        }

   #shipstatspanel {
    opacity: 0;
    transition-duration: 1s;
   }
   #EventWindow{
    opacity: 0;
    transition-duration: 1s;
   }
   #container{
     display: flex;
     justify-content: center;
   }

   .google-btn {
    width: 100%;
    height: auto;
    border-radius: 2px;
    border: 1px solid rgba(120, 200, 255, 0.2);
    background-color: rgba(120, 200, 255, 0.6);
    display: inline-block;
    z-index: 5;
    position: relative;
    max-width: 150px;
  float: right;
   }
   .google-btn .google-icon-wrapper {
     position: relative;
     margin-top: 2px;
     margin-bottom: 2px;
     margin-left: 1px;
     width: 30%;
     height: 30%;
     border-radius: 2px;
     background-color: #fff;
     float:left;
   }
   .google-btn .google-icon {
    position: relative;
    width: 100%;
    height: 100%;
   }
   .google-btn .btn-text {
     float: right;
     margin: 10% 10% 0 0;
     color: #fff;
     font: normal 500 100%/1.2em "Alegreya Sans", Arial, sans-serif;
   }
   .google-btn:hover {
     box-shadow: 0 0 6px #4285f4;
   }
   .google-btn:active {
     background: #1669F2;
   }
   #GoogleStr{
    margin-top: 10%;
   }


   #statName3{
    visibility: hidden;
   }

   #finaldescription{
    overflow-x: hidden;
    overflow-y: visible;
    max-height: 65vh;
    -webkit-overflow-scrolling: touch;
    position: relative;
   }

  .upgradeCol{
    display: flex;
    justify-content: center;
}
   .score_result{
    font: normal 400 2.6vw/1.1em "Alegreya Sans", Arial, sans-serif !important;
   }

   .score_element{
    border-top: 1px solid rgba(120, 200, 255, 0.2);
   }
#pagination_col{
      justify-content: center;
      display: flex;
   }

.pagination {
    display: inline-block;
    width: auto;
    z-index: 5;
    position: relative;
}

#more{
opacity: 0;
transition-duration: 1s;
text-align: center;
display: flex;
justify-content: center;
margin: 0.5rem;
}

#version{
position: absolute;
bottom: 10px;
right: 10px;
text-align: right;
}

.menuItem {
    justify-content: center;
    margin: 10px;
}

#debugSwitch{
position: absolute;
bottom: 10px;
left: 10px;
z-index: 1001;
visibility: hidden;
}

.debugDiv {
overflow-x: hidden;
overflow-y: visible;
max-height: 90vh;
-webkit-overflow-scrolling: touch;
z-index: 5;

position: absolute;
top: 10px;
left: 10px;
visibility: hidden;
z-index: 1000;
}

#menu{
        text-align: center;
        margin-top: 50%;
      }
#settings{
  margin-top: 15%;
}

#gametitle{
     color: white;
     text-align: center;
   }

#menubutton{
  display: inline-block;
  width: 50%;

  z-index: 5;
  position: relative;
}

#introbutton{
  display: inline-block;
  width: 50%;
  z-index: 5;
  position: absolute;
  bottom: 10%;
}

#loadbutton{
  background-color: rgba(199, 211, 219, 0.2);
  display: inline-block;
  width: 50%;

  z-index: 5;
  position: relative;
}

#ungradebutton{
  display: inline-block;
  width: 95%;
}

#ShipState{

      justify-content: center;
}
#textwindow{
      overflow-x: hidden;
      overflow-y: visible;
      max-height: 60vh;
      -webkit-overflow-scrolling: touch;
      z-index: 5;
      position: relative;
}

#textBlock{
}

#ScanRes{
}

#languageData{
  float: right;
}
#statsPlaceHolder{
  display: none;
}
#intro{
overflow:auto;
min-width: 90%;
min-height: 85%;
margin: 5%;
}

@viewport {
  user-zoom: fixed;
}

@font-face {
    font-family: "Abster";
    src: url("./assets/fonts/Abster/ABSTER.ttf");
}
@font-face {
    font-family: "Polaris";
    src: url("./assets/fonts/Polaris/Polaris.ttf");
}

.title{
  font-family: "Polaris";
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.subtitle{
  font-family: "Abster"  !important;
}


select {
  width: 150px;
  padding: 5px 35px 5px 5px;
  font: normal 400 17px/1.2em "Alegreya Sans", Arial, sans-serif;
  color: rgba(120, 200, 255, 0.8);
  border: 2px solid rgba(120, 200, 255, 0.8);
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #2a3046;
}

html, body {
       max-height: 100%;
       height: 100%;
       width: 100%;
       margin: 0;

}

p {
  color:white;
  font: normal 400 3.5vw/1.1em "Alegreya Sans", Arial, sans-serif;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  margin-bottom: 5px;
  line-height: inherit;
}

p.stats{
  margin-bottom: 0px;
  line-height: inherit;
}

* {
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}
h2{
    margin-top: 30px;
    text-align: center;
}

h4{
  font-size: 1.1rem;
  text-align: center;
  line-height: 0.5;
}

header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(assets/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(assets/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 800s linear infinite;
  -ms-animation:move-twink-back 800s linear infinite;
  -o-animation:move-twink-back 800s linear infinite;
  -webkit-animation:move-twink-back 800s linear infinite;
  animation:move-twink-back 800s linear infinite;
}

.clouds{
    background:transparent url(assets/clouds3.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}
/* Moon CSS */
@keyframes orbit {
    0%   { transform: translateX(160px)
      scale(0.05);
      z-index: 2;
    }
    5%  { transform: translateX(150px)
                      scale(0.08);
    }
    10%  { transform: translateX(130px)
                      scale(0.11);
    }
    15% { transform: translateX(100px)
                     scale(0.14);
    }
    20% { transform: translateX(60px)
                     scale(0.17);
    }
    25% { transform: translateX(0px)
       scale(0.20);
    }
    30% { transform: translateX(-60px)
                     scale(0.17);
    }
    35% { transform: translateX(-100px)
                     scale(0.14);
    }
    40% { transform: translateX(-130px)
                     scale(0.11);
    }
    45% { transform: translateX(-150px)
                     scale(0.08);
    }
    50% { transform: translateX(-160px)
                      scale(0.05);
  }
    55%   { transform: translateX(-150px)
                      scale(0.05);
    }
    60%  { transform: translateX(-130px)
      scale(0.05);
    }
    65%  { transform: translateX(-100px)
      scale(0.05);
    }
    70% { transform: translateX(-60px)
      scale(0.05);
    }
    75% { transform: translateX(0px)
      scale(0.05);
    }
    80% { transform: translateX(60px)
      scale(0.05);
      z-index: -2;
    }
    85% { transform: translateX(100px)
      scale(0.05);
    }
    90% { transform: translateX(130px)
      scale(0.05);
    }
    95% { transform: translateX(150px)
      scale(0.05);
    }
    100% { transform: translateX(160px)
                     scale(0.05);
    }
}

.moon{
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  overflow:hidden;
  box-shadow: 0 0 60px -20px rgba(251, 251, 251, 0.72), -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
  left:50%;
  top:75%;
  margin:-150px;
  transform: scale(0.2);
  transition: all 1s;
  z-index: 1;
  animation-name: orbit;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}
.moon .mask{
  width:100%;
  height:100%;
  position: absolute;
  box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
  border-radius:50%;
}

.moon .background{
  animation: translateBackground 40s infinite linear;
  background:url(assets/textures/Moon/M1.png) repeat-x;
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
}
.moon .darkness{
  background:url(assets/textures/Special/darkness.png) repeat-x;
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  animation: translateBackground 15s infinite linear;
  opacity: 1;
  z-index: 10;
}
.moon .wrap{
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  animation: rotatePlanet 150s infinite linear;
}
/* Planet CSS */

.planet{
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  overflow:hidden;
  box-shadow: 0 0 60px -20px rgba(255, 189, 3, 0.72), -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
  left:50%;
  top:75%;
  margin:-150px;
  transform: scale(0);
  transition: all 1s;
  z-index: -1;
}
.planet .mask{
  width:100%;
  height:100%;
  position: absolute;
  box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
  border-radius:50%;
}
.planet .background{
  animation: translateBackground 40s infinite linear;
  background:url(assets/textures/Barren/B1.png) repeat-x;
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
}
.planet .clouds{
  background:url(assets/textures/atmosphere/atm2.png) repeat-x;
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  animation: translateBackground 30s infinite linear;
  opacity: 0.8;
}

.planet .darkness{
  background:url(assets/textures/Special/darkness.png) repeat-x;
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  animation: translateBackground 15s infinite linear;
  opacity: 1;
  z-index: 10;
}

.planet .iceCaps{
  background:url(assets/textures/IceCaps/IC1.png) repeat-x;
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  animation: translateBackground 40s infinite linear;
  opacity: 0;
  z-index: 8;
}

.planet .wrap{
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
/*  animation: rotatePlanet 150s infinite linear;*/
}
@keyframes translateBackground{
  0%{
    background-position-x:0;
  }
  100%{
    background-position-x:-600px;
  }
}
@keyframes rotatePlanet{
  0%{
    transform:rotateZ(0);
  }
  100%{
    transform:rotateZ(-360deg);
  }
}

/* ПОПАП */
/* pop up */

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  background-color: rgb(115, 52, 52);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 2px 2px;
  position: absolute;
  z-index: 1;
  margin-left: 3.3vw;
  margin-top: -2px;
}



/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*PC!*/

@media (orientation: landscape)
{
  .wrapper {
    width: 55%;
  }
  .maincol{
    justify-content: center;
    display: flex;
  }
  p {
    color:white;
    font: normal 400 1.5vw/1.1em "Alegreya Sans", Arial, sans-serif;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    margin-bottom: 5px;

  }
  p.stats {
    margin-bottom: 0px;
    line-height: normal;
}
#credits{
  margin-top: 0%;
}
#version{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px !important;
  }

  #menu {
    margin-top: 25%;
    text-align: center;
    position: relative;
}

#settings{
  margin-top: 25%;
  min-width: 40%;
}

#menubutton{
display: inline-block;
width: 25%;
z-index: 5;
position: relative;
}

#loadbutton{
background-color: rgba(199, 211, 219, 0.2);
display: inline-block;
width: 25%;
z-index: 5;
position: relative;
}
#intro {
  overflow: auto;
  margin-top: 20%;
}
 }

 @media (orientation: portrait)
 {
 .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
 }
}
